<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='style.css'>
    <script src="https://kit.fontawesome.com/2b094ef000.js" crossorigin="anonymous"></script>
    <link rel='icon' href='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-19/s150x150/80099797_526211448244916_6398459191714906112_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_ohc=MxvpHbJMHmwAX8mfe7i&tp=1&oh=419488ddb55db525cd49218d74ec1122&oe=5FFAFC56'>
</head>
<body>

    <input type='checkbox' id='add-how-to-purchase'>
    <input type='checkbox' id='add-how-to-track-purchase'>
    <input type='checkbox' id='add-type'>
    <input type="checkbox" id="threeBars">

    <div class="navbar" id='navbar' >
        <a class='logo' href=''><img alt='brand Image' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-19/s150x150/80099797_526211448244916_6398459191714906112_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_ohc=MxvpHbJMHmwAX8mfe7i&tp=1&oh=419488ddb55db525cd49218d74ec1122&oe=5FFAFC56'></a>
        <ul>
            <li><a href='#giftcards'> <i class="fas fa-gift    "></i><span class='itemname'>GIFTCARD</span>  </a></li>
            <!-- <li><i class='fas fa-angle-double-down'></i></li> -->
            <li><a href='#accounts'><i class="fas fa-user"></i><span class='itemname'>ACCOUNTS</span></a></li>
            <li><a href='#shop'> <i class='fas fa-shopping-bag'></i><span class='itemname'>WISHLIST</span> </a></li>
            <li><a href='#contact_us' >contact us</a></li>
            </ul>
            <label class='threeBars' for='threeBars'><i style='font-size:1cm;' class="fa fa-bars" aria-hidden="true"></i></label>
        </div><hr>

    





    <div class="about">
        <div class='contact_us' id='contact_us' >
            <ul>
                <li><a href='https://www.instagram.com/thrift._.trendy/'><i style='font-size:1cm;background:linear-gradient(rgb(109, 11, 167),red,yellow);padding:0;border-radius: 1cm;' class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href='https://api.whatsapp.com/send?phone=254759274504&text=I%27m%20coming%20from%20your%20online%20store%20and%20I%20have%20a%20question!'><i style='font-size:1cm;background:rgb(34, 202, 19);border-radius: 1cm;' class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                <li><h4>0726202056</h4></li>
           
            </ul>
        </div>
        <div class="help">
            <ul>
                <li><a href='/home'>HOME</a>   |</li>
                <li><a href='#deliveries'>DELIVERIES</a>   |</li>
    
                <p id='locations' >
                    <li>Located at imenti house TOWN CBD shop C1🏡(parking lot)</li>
    
                </p>
            </ul>
        </div>
        <div class="about-us">
            <p>We sell to you the best Products you can find at an instant</p><br>
            <p>Only at <span class='x'>Thrift Trendy</span></p><br>
            <p>Made by Thift Trendy <i class="fa fa-copyright" aria-hidden="true"></i> 2020</p>
        </div>
    </div>
</body>
</html>