<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='style.css'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="navbar">
        <label class='logo'>Playstation KE</label>
        <ul>
            <li><i class='fas fa-search'></i></li>
            <li><i class="fas fa-user"></i></li>
            <li><i class='fas fa-shopping-bag'></i></li>
            <li>contact us</li>
        </ul>
    </div><hr>

    <div class="slides" id='slides' > 

        <h1>Whats New?</h1>   
            <figure>
        <img alt='fifa21 first 20 people get Ksh 200 off' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/124107959_374736283868080_557499656453703029_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=grtembxXWrkAX-NMiPV&tp=1&oh=76a78697a105db858f48f38b7690b99e&oe=5FF13D21'>
        <img alt='Watchdogs legion insane graphics'  src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/122737988_374293733689913_7033737385441746702_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=x55wq_5oyiMAX-rHPiM&tp=1&oh=832245e5e944b5a1b0df4e6261c3e6b4&oe=5FF431C7'>
        <img alt='Mashujaa Day giveaway' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/121979586_2589309841315637_6381078017892463035_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=ozALAI2Z-dIAX9Adia-&tp=1&oh=0005e019ad6ddf2f54af01233ad433d4&oe=5FF32776'>
        <img alt='purchase your FUT coins with PSN giftcard' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/121191948_794073608019790_1717413953630252674_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=oauQQp-v7kcAX-F8zNZ&tp=1&oh=a946db0a76290038fc52c86e48039dae&oe=5FF1AA41'>
        <img alt="October free monthly games" src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/120438878_342606320317245_9220805584837216847_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=Yr7GUq0btWwAX-MgTiH&tp=1&oh=3e570136b2610c605e971bf4e7f4ef97&oe=5FF249E7" >
            </figure>
    </div>


    
</body>
</html>