<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='style.css'>
    <script src="https://kit.fontawesome.com/2b094ef000.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type='checkbox' id='add-how-to-purchase'>
    <input type='checkbox' id='add-how-to-track-purchase'>
    <input type='checkbox' id='add-type'>


    <div class="navbar">
        <a class='logo' href=''><img alt='brand Image' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-19/s150x150/80099797_526211448244916_6398459191714906112_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_ohc=MxvpHbJMHmwAX8mfe7i&tp=1&oh=419488ddb55db525cd49218d74ec1122&oe=5FFAFC56'></a>
        <ul>
            <li><a href='#giftcards'><i class='fas fa-gift  '></i></a></li>
            <!-- <li><i class='fas fa-angle-double-down'></i></li> -->
            <li><a href='#accounts'><i class="fas fa-user"></i></a></li>
            <li><a href='#shop'> <i class='fas fa-shopping-bag'></i> </a></li>
            <li><a href='#contact_us' >contact us</a></li>
        </ul>
        </div><hr>

    <div class="slides" id='slides' > 

        <h1>Whats New? <i class="fas fa-newspaper    "></i> </h1>   
        <h2>Click on the images to see more</h2>
            <figure>
                <a href=''></a><img id='image1'   alt='black hoodie' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/130296490_2739574802920870_2178044594941808449_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=GHox-FnPN_QAX_rhOCX&tp=1&oh=96fc7bbaa6cf84d725df8fdb2dade209&oe=5FFBD928'></a>
                <a href=''></a><img id='image2' alt='purple shirt' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128893025_723971881877289_1490114055486182643_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=kVQflbD428EAX8LSv-8&tp=1&oh=efd1eb2fdcd983fb415e260ab22b4f26&oe=5FFA00BB'></a>
                <a href=''></a><img id='image3' alt='white shirt' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129745326_221912056237442_4330511271594155311_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=a8va8S0841MAX-XTuIA&tp=1&oh=913ae1991748a05072269b1c111af8fe&oe=5FFB5FD3'></a>
                <a href=''></a><img id='image4' alt='decorated pants' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129728184_596988764416831_1704571252085712817_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=O64mQy7p2dwAX9NwjgL&tp=1&oh=86d8be9e20f127de0b98b23c973782a2&oe=5FF8AA99'></a>
                <a href=''></a><img id='image5'  alt='red heart&soldier heart white coloured shirt' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/130421526_215788766594025_5701941562512952617_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=Yg0FDCNJGL4AX-KqqS4&tp=1&oh=bf4ccdb42e97a38a680ac04eeb4d06f4&oe=5FFC1DA2'></a>
            </figure>

    </div>
<div class="navigate_slideshow">
    <label id='dotforimg1' for='image1'></label>
    <label id='dotforimg2' for='image2'></label>
    <label id='dotforimg3' for='image3'></label>
    <label id='dotforimg4' for='image4'></label>
    <label id='dotforimg5' for='image5'></label>

</div>


    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ALX9YJNNYW4A2">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
        <div class='topwears'>
    <h1>Top-Wears</h1>
    <div class='colormix'>
        <a href=''>
        <img id='image101' src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129721638_3514556041959657_6572978396321315661_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=GG4rm0DKQ4oAX-P0CNn&tp=1&oh=d4644d3571c46d95e240b5132f94a316&oe=5FF97C25" alt="">
            </a>
        <a href=''>
            <img id='image102' src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/130256842_2702576316672309_1056255115888919848_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=tc2P8mpt2IoAX9_y5Ca&tp=1&oh=bee41aab4a6a258985d1718f3ca6db54&oe=5FFA44B2">
        </a>
        </div>
        <div class='second-topwear-images'>
        <a href=''>
            <img id='img201' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129201560_515204686062537_1908204617366273128_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=n0-7PKimnYAAX_osFzU&tp=1&oh=e705a3c04719d82b1ba4d122b56174c2&oe=5FFA6A0C'>
        </a>
        <a href=''>
            <img id='img202' src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129413780_449876463076991_1540947095147497017_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=pAeO2Af7Gr8AX83R3o9&tp=1&oh=76e6fd97c442183da83f12a11febc5c2&oe=5FFA168C" alt="">
        </a>
        </div>
        <div class='third-topwear-images'>
            <a href="">
            <img id='image301' src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/127111087_800211220820485_1438992688032547483_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=NzPoEKVvfd4AX8NDCXo&tp=1&oh=04d37b5a63073fb72474b99c96d8b3a1&oe=5FF8FE76" alt="">
                </a>
            <a href="">
                <img id='image302' src="https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/127165608_716319942312022_8375666560619055883_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=u74qtuZuOR0AX_nJn9c&tp=1&oh=97d84b22e9f2d853e0a9a31c5028f180&oe=5FFCC25C" alt="">
            </a>
        </div>

    </div>

    <div class="bottomwears">
    <h1>Bottom-wears</h1>
    <div class="first-bottom-wears">
        <a href=''>
            <img id='img11' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/130302971_141590057716762_8301565736106516806_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=Ud2SZFNmYMQAX_l5MQP&tp=1&oh=03c53581228b169364840029ec441ede&oe=5FF9AB35'>
        </a>
        <a href=''>
            <img id='img12' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129728184_596988764416831_1704571252085712817_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=O64mQy7p2dwAX9NwjgL&tp=1&oh=8e0512ca53b39450d32c01814d6b895a&oe=5FFC9F19'>
        </a>
    </div>
    <div class="second-bottom-wears">
        <a href="">
            <img id='img21' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128957397_117806956727851_875461218928996132_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=cNshCcp2TmgAX_52GZh&tp=1&oh=45b50e0d3bbecfe57bc6926aa48a23ff&oe=5FF91EA7'>
        </a>
        <a href=''>
            <img id='img22' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129732990_860410838039532_1253442444770856335_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=XUuZ8oLYAw4AX-egCfN&tp=1&oh=6055d88e91ab99eea38ca4b82bbeb440&oe=5FFB6F53'>
        </a>
    </div>
    
    <div class="third-bottom-wears">
        <a href="">
            <img id='img31' src="https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127633678_295072211820400_6179367466390416866_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=DZZ9DNxeIfcAX-r5iJE&tp=1&oh=a1d8bcd5aacc9648b01584c4d0a3bfca&oe=5FF9D960" alt="">
            </a>
        <a href=''>
            <img id='img32' src="https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127318606_2678663255796984_1785343369038638185_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=5vEy5EUakLwAX9blU3C&tp=1&oh=100f907f23a4cabeba7da411a0c9783a&oe=5FF950FF" alt="">
        </a>
    </div>

    </div>

    <div class="outwears">
        <h1>Outwears</h1>
        <div class="first-out-wears">
            <a href=''>
                <img id='img41' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128894554_212727983641028_8362758990705459889_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=U7UmWPAjO8UAX-GhLBn&tp=1&oh=0768ef31a00f88efff4d7044d9139700&oe=5FFB9752'>
            </a>
            <a href=''>
                <img id='img42' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129056289_4171750719508031_8156181740254138065_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=LlWAc4eR_wsAX-yQPR-&tp=1&oh=3c5eb07b3e48d4f0f57f2375e2916f34&oe=5FFB192A'>
            </a>
        </div>
        <div class="second-out-wears">
            <a href="">
                <img id='img51' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128939231_834560893784178_5491427719249456300_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=kz3tlx9rj94AX_ef2OW&tp=1&oh=6a41f8aa084f85852809f21add32b283&oe=5FFA919C'>
            </a>
            <a href=''>
                <img id='img52' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128125716_736085970333077_1955141257301665466_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=VlSJ7med53UAX85bZWt&tp=1&oh=7abbe4c393d35eb15f000981df218bc7&oe=5FFAFF3B'>
            </a>
        </div>
        
        <div class="third-out-wears">
            <a href="">
                <img id='img61' src="https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127088848_852908622113467_5160865632536058543_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=bxZF7xTr-84AX8wWdKT&tp=1&oh=814730d875a6aa3c5eba39c5a654bdbc&oe=5FF95526" alt="">
                </a>
            <a href=''>
                <img id='img62' src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/126988618_369817244114533_2791725024389952383_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=3Vs6nviBtAIAX8nf7ON&tp=1&oh=c7bb18a4e863ea113164e04037a71304&oe=5FFCDF1F" alt="">
            </a>
        </div>
        </div>

    <div class="footwears">
    <h1>Footwears</h1>

    <div class="first-foot-wears">
        <a href=''>
            <img id='img71' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127225706_1525868140934937_3759524858318807241_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=y84N8oiWb3YAX_70HdS&tp=1&oh=0384763e11c1d89df79c668b85ca7518&oe=5FFA590C'>
        </a>
        <a href=''>
            <img id='img72' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127159070_699407294304007_3856887502773915910_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=RHFDwvnuvvcAX8meZ2U&tp=1&oh=41ae5c33051a53db38a36f9448789145&oe=5FFC46AF'>
        </a>
    </div>
    <div class="second-foot-wears">
        <a href="">
            <img id='img81' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/127821404_910453819761833_7820424840018234212_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=1Q0lgi_wY74AX_RfI99&tp=1&oh=761b1132e7dd5ec41a96c8c3342bc39d&oe=5FFCB30C'>
        </a>
        <a href=''>
            <img id='img82' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/127280777_680382892664462_5642812118872893833_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=TU88V2kmSakAX-hDZwz&tp=1&oh=7b6a8101b1c5aeb87e449d51ee3829fc&oe=5FFBA8EC'>
        </a>
    </div>
    
    <div class="third-foot-wears">
        <a href="">
            <img id='img91' src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127676806_219327192914785_524654458678989470_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=CjIw8H4eYQYAX8fyxQD&tp=1&oh=f9d54dce32f303b03a0edd3224946490&oe=5FFA9126" alt="">
            </a>
        <a href=''>
            <img id='img92' src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127002051_898154944270139_8148510035983330981_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=nkRrjRfy2MwAX-bFzon&tp=1&oh=a0d4a58ac826709406dec97675a867c0&oe=5FFB9DDF">
            <!--           -->
        </a>
    </div>

    </div>

    

    <div class="accessories">
        <h1>Headwraps</h1>
    
        <div class="first-accessories">
            <a href=''>
                <img id='img401' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/124189578_407605340258801_1964733382568060278_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=NJAqA650fMoAX-k5W8r&tp=1&oh=fe09127e3b3f2309a612c7e07d6e0116&oe=5FFADCAB'>
            </a>
            <a href=''>
                <img id='img402' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/124848640_409728646858889_2594061688771434679_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=fjW77BK0Sr0AX-iaRrU&tp=1&oh=8db12f1bf0cde54d0ed7a170f57c3ddb&oe=5FFA2CCB'>
            </a>
        </div>
        <div class="second-accessories">
            <a href="">
                <img id='img403' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/124134716_372659800849917_7255678596808322252_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=CSQLWMk8nSsAX_rH3Ur&tp=1&oh=98138ba780468f28e18225ba876f685a&oe=5FF9CFF5'>
            </a>
            <a href=''>
                <img id='img404' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/123606591_128389172097045_8225595601072118368_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=UEsyod4kyGcAX_U651_&tp=1&oh=117f46ca7b34314341ff02fdfadcf4e5&oe=5FFC8FAC'>
            </a>
        </div>
        
        <div class="third-accessories">
            <a href="">
                <img id='img405' src="https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/129719100_231533984981415_5493531299728789246_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=_f7Xpy8BelwAX-rvsAv&tp=1&oh=3fca94f77bb30ddb2074634b938b97a6&oe=5FFB3A8E" alt="">
                </a>
            <a href=''>
                <img id='img406' src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/128686992_1019502645185774_96685296869481003_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=XfAs4MqnxeAAX-KusdS&tp=1&oh=0d3abb9b64b9577327ff242c528ea1b3&oe=5FFAE858">
                <!--           -->
            </a>
        </div>
    
        </div>



<div class="about">
    <div class='Help'>
        <ul>
            <label style="font-weight: bold;" >Help</label>
            <li>How to make a purchase</li>
            <li>How to  </li>
        </ul>
    </div>
</div>

<!--    https://api.whatsapp.com/send?phone=254759274504&text=I%27m%20coming%20from%20your%20online%20store%20and%20I%20have%20a%20question!    -->

</body>
</html>