<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='style.css'>
    <script src="https://kit.fontawesome.com/2b094ef000.js" crossorigin="anonymous"></script>
</head>

<body>
    <input type='checkbox' id='add-how-to-purchase'>
    <input type='checkbox' id='add-how-to-track-purchase'>
    <input type='checkbox' id='add-type'>

    <div class="navbar">
        <a class='logo' href=''><img alt='brand Image' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-19/s150x150/80099797_526211448244916_6398459191714906112_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_ohc=MxvpHbJMHmwAX8mfe7i&tp=1&oh=419488ddb55db525cd49218d74ec1122&oe=5FFAFC56'></a>
        <ul>
            <li><a href='#giftcards'><i class='fas fa-gift  '></i></a></li>
            <!-- <li><i class='fas fa-angle-double-down'></i></li> -->
            <li><a href='#accounts'><i class="fas fa-user"></i></a></li>
            <li><a href='#shop'> <i class='fas fa-shopping-bag'></i> </a></li>
            <li><a href='#contact_us' >contact us</a></li>
        </ul>
        </div><hr>

    <div class="slides" id='slides' > 

        <h1>Whats New? <i class="fas fa-newspaper    "></i> </h1>   
        <h2>Click on the images to see more</h2>
            <figure>
                <a href=''></a><img id='image1'   alt='black hoodie' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/130296490_2739574802920870_2178044594941808449_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=GHox-FnPN_QAX_rhOCX&tp=1&oh=96fc7bbaa6cf84d725df8fdb2dade209&oe=5FFBD928'></a>
                <a href=''></a><img id='image2' alt='purple shirt' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128893025_723971881877289_1490114055486182643_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=kVQflbD428EAX8LSv-8&tp=1&oh=efd1eb2fdcd983fb415e260ab22b4f26&oe=5FFA00BB'></a>
                <a href=''></a><img id='image3' alt='white shirt' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129745326_221912056237442_4330511271594155311_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=a8va8S0841MAX-XTuIA&tp=1&oh=913ae1991748a05072269b1c111af8fe&oe=5FFB5FD3'></a>
                <a href=''></a><img id='image4' alt='decorated pants' src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129728184_596988764416831_1704571252085712817_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=O64mQy7p2dwAX9NwjgL&tp=1&oh=86d8be9e20f127de0b98b23c973782a2&oe=5FF8AA99'></a>
                <a href=''></a><img id='image5'  alt='red heart&soldier heart white coloured shirt' src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/130421526_215788766594025_5701941562512952617_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=Yg0FDCNJGL4AX-KqqS4&tp=1&oh=bf4ccdb42e97a38a680ac04eeb4d06f4&oe=5FFC1DA2'></a>
            </figure>

    </div>
<div class="navigate_slideshow">
    <label id='dotforimg1' for='image1'></label>
    <label id='dotforimg3' for='image3'></label>
    <label id='dotforimg2' for='image2'></label>
    <label id='dotforimg4' for='image4'></label>
    <label id='dotforimg5' for='image5'></label>

</div>
<div class="homedisplay">
<h1>Topwears</h1>
<div class="Homedisplay1">
    <div class="image">
        <img src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/130256842_2702576316672309_1056255115888919848_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=tc2P8mpt2IoAX9_y5Ca&tp=1&oh=bee41aab4a6a258985d1718f3ca6db54&oe=5FFA44B2">
    </div>
    <div class="image">
        <img src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/129201560_515204686062537_1908204617366273128_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=n0-7PKimnYAAX_osFzU&tp=1&oh=e705a3c04719d82b1ba4d122b56174c2&oe=5FFA6A0C">
    </div>
    <div class="image">
        <img src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/127111087_800211220820485_1438992688032547483_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=NzPoEKVvfd4AX8NDCXo&tp=1&oh=04d37b5a63073fb72474b99c96d8b3a1&oe=5FF8FE76">
    </div>
</div>
<h1>BottomWears</h1>
<div class="Homedisplay2">
    <div class="image">
        <img src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128957397_117806956727851_875461218928996132_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=cNshCcp2TmgAX_52GZh&tp=1&oh=45b50e0d3bbecfe57bc6926aa48a23ff&oe=5FF91EA7'>
    </div>
    <div class="image">
        <img src="https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127633678_295072211820400_6179367466390416866_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=DZZ9DNxeIfcAX-r5iJE&tp=1&oh=a1d8bcd5aacc9648b01584c4d0a3bfca&oe=5FF9D960" 
        >
    </div>
    <div class="image">
        <img src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/124977098_409832557089569_7537221155250417674_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=bmvsIWuBU6kAX9bKhuC&tp=1&oh=15db93e88eecc812c2fcc430c07c86f3&oe=5FFDE94E'>
    </div>
</div>
<h1>Footwears</h1>
<div class="Homedisplay3">
    <div class="image">
        <img src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127225706_1525868140934937_3759524858318807241_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=y84N8oiWb3YAX_70HdS&tp=1&oh=0384763e11c1d89df79c668b85ca7518&oe=5FFA590C'
        >
    </div>
    <div class="image">
        <img src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/127821404_910453819761833_7820424840018234212_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=1Q0lgi_wY74AX_RfI99&tp=1&oh=761b1132e7dd5ec41a96c8c3342bc39d&oe=5FFCB30C'
        >
    </div>
    <div class="image">
        <img src="https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127676806_219327192914785_524654458678989470_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=CjIw8H4eYQYAX8fyxQD&tp=1&oh=f9d54dce32f303b03a0edd3224946490&oe=5FFA9126"
        >
    </div>
</div>
<h1>HeadGears</h1>
<div class="Homedisplay4">
    <div class="image">
        <img src="https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/129719100_231533984981415_5493531299728789246_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=_f7Xpy8BelwAX-rvsAv&tp=1&oh=3fca94f77bb30ddb2074634b938b97a6&oe=5FFB3A8E" 
        >
    </div>
    <div class="image">
        <img src=https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/130172299_2855024601490273_8761703994542796244_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=d6gabEGAxJoAX_e8Vqe&tp=1&oh=08fae36600cc212d49d3effe420496eb&oe=5FFFCEE1
        >
    </div>
    <div class="image">
        <img src=https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/124447925_1847375548751433_758757000788566618_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=LFR4WwjpedEAX8sgyQN&tp=1&oh=e2423ab4b6ab4e3ede761a703c8d2b7a&oe=5FFEDBB1
        >
    </div>
</div>
<h1>Accessories</h1>
<div class="Homedisplay5">
    <div class="image">
        <img src='https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/124189578_407605340258801_1964733382568060278_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=NJAqA650fMoAX-k5W8r&tp=1&oh=fe09127e3b3f2309a612c7e07d6e0116&oe=5FFADCAB'
        >
    </div>
    <div class="image">
        <img src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/121833644_1716749205159572_8184025326040118616_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=T69wPZ6zZtkAX9XcprD&tp=1&oh=20e6d8f9fb32a6faf3d16e3980b5eb53&oe=5FFF2047' >
    </div>
    <div class="image">
        <img src=https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/121887644_395320298529442_4915984651262826075_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=U_gfzicyyj4AX8VLMeG&tp=1&oh=a5f3191c2106a2d7a07684f3d4a029a8&oe=5FFFDF75
        >
    </div>
</div>
<h1>OutWears</h1>
<div class="Homedisplay6">
    <div class="image">
        <img src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128894554_212727983641028_8362758990705459889_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=U7UmWPAjO8UAX-GhLBn&tp=1&oh=0768ef31a00f88efff4d7044d9139700&oe=5FFB9752'
        >
    </div>
    <div class="image">
        <img src='https://instagram.fnbo10-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/128939231_834560893784178_5491427719249456300_n.jpg?_nc_ht=instagram.fnbo10-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=kz3tlx9rj94AX_ef2OW&tp=1&oh=6a41f8aa084f85852809f21add32b283&oe=5FFA919C'
        >
    </div>
    <div class="image">
        <img src="https://instagram.fnbo9-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/127088848_852908622113467_5160865632536058543_n.jpg?_nc_ht=instagram.fnbo9-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=bxZF7xTr-84AX8wWdKT&tp=1&oh=814730d875a6aa3c5eba39c5a654bdbc&oe=5FF95526"
        >
    </div>
</div>
</div>
<div class='paypal'>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ALX9YJNNYW4A2">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
</div>




<div class="about">
    <div class='Help'>
        <ul>
            <label style="font-weight: bold;" >Help</label>
            <li>How to make a purchase</li>
            <li>How to  </li>
        </ul>
    </div>
</div>

<!--    https://api.whatsapp.com/send?phone=254759274504&text=I%27m%20coming%20from%20your%20online%20store%20and%20I%20have%20a%20question!    -->

</body>
</html>